* {
    margin: 0;
    padding: 0;
    font-family: Lora, serif;
}

header {
    margin: 1em 0;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li:before {
    content: "[";
}

nav ul li:after {
    content: "]"
}

article {
    margin: 0 10em;
}

.ribbon {
    
}